<main class="main-wrap">
    <section class="content-main">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 mt-5 justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <!-- Edit coupon form -->
                        <form action="/admin/editcoupon/{{coupon._id}}" method="POST" onsubmit="return validationf(this)" class="row g-3">
                            <h5 class="content-title">Edit Coupon Details</h5>

                            <div class="col-12">
                                <label for="coupon-code" class="form-label">Coupon Code</label>
                                <input type="text" class="form-control" id="coupon-code" name="code" value="{{coupon.code}}" required>
                                <h6 class="alertAddcoupon mt-1" style="color: red" id="couponcodealert"></h6>
                            </div>

                            <div class="col-12">
                                <label for="discount" class="form-label">Discount (%)</label>
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" id="discount" name="discount" value="{{coupon.discount}}" required>
                                    <span class="input-group-text">%</span>
                                </div>
                                <h6 class="alertAddcoupon mt-1" style="color: red" id="discountalert"></h6>
                            </div>

                            <div class="col-12">
                                <label for="min-purchase" class="form-label">Minimum Purchase Amount</label>
                                <input type="number" class="form-control" id="min-purchase" name="minPurchase" value="{{coupon.minPurchase}}" required>
                                <h6 class="alertAddcoupon mt-1" style="color: red" id="minalert"></h6>
                            </div>

                            <div class="col-12">
                                <label for="max-discount" class="form-label">Max Discount Amount</label>
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" id="max-discount" name="maxDiscount" value="{{coupon.maxDiscount}}" required>
                                </div>
                                <h6 class="alertAddcoupon mt-1" style="color: red" id="maxalert"></h6>
                            </div>

                            <div class="form-group">
                                <label for="expiry-date">Expiry Date</label>
                                <input type="date" class="form-control" id="expiry-date" name="expDate" value="{{coupon.expiryDate}}" required>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                                <a href="/admin/coupons" class="btn btn-primary" id="cancelbutton">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
            <div class="col-sm-6">
                <script>
                    document.write(new Date().getFullYear())
                </script> ©, Tick Tock .
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end">
                    All rights reserved
                </div>
            </div>
        </div>
    </footer>
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#backbutton').click(function (e) {
            e.preventDefault();

            Swal.fire({
                title: "Leave the Page?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#088178",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/admin/coupons";
                }
            });
        });
    });

    function validationf(form) {
        let errors = [];

        let couponcode = document.getElementById('coupon-code').value;
        let discount = document.getElementById('discount').value;
        let minpurchase = document.getElementById('min-purchase').value;
        let maxdiscount = document.getElementById('max-discount').value;
        let expiryDate = document.getElementById('expiry-date').value;
        let today = new Date().toISOString().split('T')[0];

        let couponcodePattern = /^[A-Za-z0-9\s]{3,}$/;

        let couponerr = document.getElementById('couponcodealert');
        let discounterr = document.getElementById('discountalert');
        let minerror = document.getElementById('minalert');
        let maxerror = document.getElementById('maxalert');
        let dateerror = document.createElement('h6');
        dateerror.className = "alertAddcoupon mt-1";
        dateerror.style.color = "red";
        dateerror.id = "datealert";

        let expiryDateInput = document.getElementById('expiry-date');
        if (!document.getElementById('datealert')) {
            expiryDateInput.parentNode.appendChild(dateerror);
        } else {
            dateerror = document.getElementById('datealert');
        }

        couponerr.innerHTML = '';
        discounterr.innerHTML = '';
        minerror.innerHTML = '';
        maxerror.innerHTML = '';
        dateerror.innerHTML = '';

        if (!couponcode.match(couponcodePattern)) {
            couponerr.innerHTML = 'Coupon code must be at least 3 characters long and only contain alphanumeric characters';
            errors.push('Invalid coupon code');
        }

        if (discount <= 0 || discount > 100) {
            discounterr.innerHTML = 'Discount should be between 1 and 100';
            errors.push('Invalid discount');
        }

        if (minpurchase <= 0) {
            minerror.innerHTML = 'Minimum purchase amount must be greater than 0';
            errors.push('Invalid minimum purchase amount');
        }

        if (maxdiscount <= 0) {
            maxerror.innerHTML = 'Maximum discount amount must be greater than 0';
            errors.push('Invalid maximum discount amount');
        }

        if (!expiryDate) {
            dateerror.innerHTML = 'Expiry date is required';
            errors.push('Missing expiry date');
        } else if (expiryDate < today) {
            dateerror.innerHTML = 'Expiry date cannot be in the past';
            errors.push('Invalid expiry date');
        }

        if (errors.length > 0) {
            return false;
        }

        return true;
    }
</script>

