<style>
  body, .main {
    background-color: #fff !important; /* Set to white */
}
  </style>
 <main class="main">


    <!-- Main Banner Start -->

          <section class="home-slider position-relative pt-50">
            <div class="hero-slider-1 dot-style-1 dot-style-1-position-1">
                {{#each banners}}
                <div class="single-hero-slider single-animation-wrap">
                    <div class="container">
                        <div class="row align-items-center slider-animated-1">
                            <div class="col-lg-5 col-md-6">
                                <div class="hero-slider-content-2">
                                    <h4 class="animated">{{this.line1}}</h4>
                                    <h2 class="animated fw-900">{{this.line2}}</h2>
                                    <h1 class="animated fw-900 text-brand">{{this.line3}}</h1>
                                    <p class="animated">{{this.line4}}</p>
                                    <a class="animated btn btn-brush btn-brush-3" href="/shop"> Shop Now </a>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-6">
                                <a href="/product">
                                <div class="single-slider-img single-slider-img-1">
                                    <img class="animated slider-1-1" src="/assets/imgs/products/{{this.image}}" alt="">
                                </div>

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
             
            </div>
            <div class="slider-arrow hero-slider-1-arrow"></div>
        </section>



    <!-- Main Banner End -->

    <!-- Product NavBar & Product Grid Start -->

    <section class="product-tabs section-padding position-relative wow fadeIn animated">
      <div class="bg-square"></div>
      <div class="container">

        <!-- Product Nav Bar Start -->

        <div class="tab-header">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Popular</button>
            </li>
            </ul>
          <a href="/shop" class="view-more d-none d-md-flex">View More<i class="fi-rs-angle-double-small-right"></i></a>
        </div>
        
        <!-- Product Nav Bar End -->

        <!-- Product Grid Start -->

        <div class="tab-content wow fadeIn animated" id="myTabContent">
          <div
            class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
            <div class="row product-grid-4">
              {{#each Products}}
              <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                <div class="product-cart-wrap mb-30">
                  <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                      <a href="/productDetails/{{this._id}}">
                        <img class="default-img" src="assets/imgs/products/{{this.imageUrl.[0]}}" alt=""/>
                        <img class="hover-img" src="assets/imgs/products/{{this.imageUrl.[1]}}" alt=""/>
                      </a>
                    </div>
                  
                    <div
                      class="product-badges product-badges-position product-badges-mrg">
                      <span class="hot">Hot</span>
                    </div>
                  </div>
                  <div class="product-content-wrap">
                    <div class="product-category">
                      <a >{{this.category.category}}</a>
                    </div>
                    <h2><a href="shop-product-right.html">{{this.name}}</a></h2>
                    {{!-- <div class="rating-result" title="90%">
                      <span>
                        <span>90%</span>
                      </span>
                    </div> --}}
                   <div class="product-price">
  {{#if discountPrice}}
    <span>₹{{discountPrice}}</span> <!-- Show the discounted price -->
    <ins><span class="old-price font-md ml-15">₹{{price}}</span></ins> <!-- Show the original price with strikethrough -->
  {{else}}
    <span>₹{{price}}</span> <!-- Show only the original price if there's no discount -->
  {{/if}}
</div>

                   
                  </div>
                </div>
              </div>              
              {{/each}}
            </div>
          </div>
          <!-- Product Grid End --> 
        </div>
      </div>
    </section>
    <!-- Product NavBar & Product Grid End -->

    

    <!-- Category Section Start -->
    <section class="popular-categories section-padding mt-15 mb-25">
      <div class="container wow fadeIn animated">
        <h3 class="section-title mb-20"><span>All Categories</span></h3>

        <div class="carausel-6-columns-cover position-relative">
          <div
            class="slider-arrow slider-arrow-2 carausel-6-columns-arrow"
            id="carausel-6-columns-arrows"
          ></div>
          <div class="carausel-6-columns" id="carausel-6-columns">
            {{#each category}}
              <div class="card-1">
                <figure class="img-hover-scale overflow-hidden">
                  <a ><img
                      src="/assets/imgs/products/{{imageUrl}}"
                      alt=""
                    /></a>
                </figure>
                <h5><a >{{this.category}}</a></h5>
              </div>
            {{/each}}
          </div>
        </div>

      </div>
    </section>
    <!-- Category Section End -->

  </main>

