<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Pages
                <span></span> Account
            </div>
        </div>
    </div>
    <section class="pt-50 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 m-auto">
                    <div class="row">
                        {{> profileHeader}}
                        
                        <div class="col-md-9">
                            <section class="content-body p-xl-4">
                                <div class="content-header">
                                    <div>
                                        <h2 class="content-title card-title">Order Detail</h2>
                                        <p>Details for Order ID: {{myOrderDetails._id}}</p>
                                    </div>
                                </div>
                                <div class="card">
                                    <header class="card-header">
                                        <div class="row align-items-center">
                                            <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                                                <span>
                                                    <i class="material-icons md-calendar_today"></i>
                                                    <b>{{myOrderDetails.date}}</b>
                                                </span> <br>
                                                <small class="text-muted">Order ID: {{myOrderDetails._id}}</small>
                                            </div>
                                            <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                                                <a onclick="getInvoice('{{myOrderDetails._id}}')"
                                                    class="btn btn-secondary print ms-2" href="#"><i
                                                        class="fa fa-print" style="font-size: 1rem;"></i></a>
                                            </div>
                                        </div>
                                    </header>
                                    <div class="card-body">
                                        <div class="row mb-50 mt-20 order-info-wrap">
                                            <div class="col-md-4">
                                                <article class="icontext align-items-start">
                                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                                        <i class="text-primary material-icons md-person"></i>
                                                    </span>
                                                    <div class="text">
                                                        <h6 class="mb-1">Customer</h6>
                                                        <p class="mb-1">
                                                            {{address.name}} <br> {{address.mobile}}
                                                        </p>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="col-md-4">
                                                <article class="icontext align-items-start">
                                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                                        <i class="text-primary material-icons md-local_shipping"></i>
                                                    </span>
                                                    <div class="text">
                                                        <h6 class="mb-1">Order Info</h6>
                                                        <p class="mb-1">
                                                            Shipping: Fargo express <br> 
                                                            Pay method: {{myOrderDetails.paymentMethod}} <br> 
                                                            Status: {{myOrderDetails.status}}
                                                        </p>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="col-md-4">
                                                <article class="icontext align-items-start">
                                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                                        <i class="text-primary material-icons md-place"></i>
                                                    </span>
                                                    <div class="text">
                                                        <h6 class="mb-1">Deliver to</h6>
                                                        <p class="mb-1">
                                                            City: {{address.city}}, {{address.state}}
                                                            <br>{{address.addressLine1}} 
                                                            <br>Pin: {{address.pin}}
                                                        </p>
                                                    </div>
                                                </article>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th width="40%">Product</th>
                                                                <th width="20%">Unit Price</th>
                                                                <th width="20%">Quantity</th>
                                                                <th width="20%">Total</th>
                                                                <th width="80%">Cancel/Return</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {{#each orderedProDet}}
                                                            <tr>
                                                                <td>
                                                                    <a class="itemside" href="#">
                                                                        <div class="left">
                                                                            <img src="/assets/imgs/products/{{this.product.image}}"
                                                                                width="40" height="40" class="img-xs"
                                                                                alt="Item">
                                                                        </div>
                                                                        <div class="info">{{this.product.name}}</div>
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    ₹{{#if this.product.discountPrice}}
                                                                        {{this.product.discountPrice}}
                                                                    {{else}}
                                                                        {{this.product.price}}
                                                                    {{/if}}
                                                                </td>
                                                                <td>{{this.product.quantity}}</td>
                                                                <td>
                                                                    ₹{{#if this.product.discountPrice}}
                                                                        {{multiply this.product.quantity this.product.discountPrice}}
                                                                    {{else}}
                                                                        {{multiply this.product.quantity this.product.price}}
                                                                    {{/if}}
                                                                </td>
                                                                <td class="text-end">                                                                    
                                                                    {{#singlestatuchecker this.product}}
                                                                        {{#ifCond ../myOrderDetails.status '==' 'Delivered'}}
                                                                            {{#if (eq ../orderedProDet.length 1)}}
                                                                                <button id="returnnow-btn" class="btn btn-primary btn-sm return-btn" style="background-color: #d6d6d6; border-color: #c0c0c0; color: #808080; cursor: not-allowed;" disabled>Return</button>
                                                                            {{else}}
                                                                                <button id="returnnow-btn" class="btn btn-primary btn-sm return-btn" data-order-id="{{../myOrderDetails._id}}" data-prod-id="{{this.product._id}}">Return</button>
                                                                            {{/if}}
                                                                        {{else}} 
                                                                        {{#ifCond ../myOrderDetails.status '==' 'Payment Failed'}}
                                                                            <button id="retryPayment" class="btn btn-primary btn-sm retry-btn" data-order-id="{{../myOrderDetails._id}}" data-prod-id="{{this.product._id}}" style="background-color: #d6d6d6; border-color: #c0c0c0; color: #808080; cursor: not-allowed;" disabled>Retry Payment</button>
                                                                        {{else}}
                                                                        {{#ifCond ../myOrderDetails.status '==' 'Cancelled'}}
                                                                            <button id="cancel-btn" class="btn btn-primary btn-sm cancel-btn" style="background-color: #d6d6d6; border-color: #c0c0c0; color: #808080; cursor: not-allowed;" disabled>
                                                                                Cancel
                                                                            </button>
                                                                        {{else}}
                                                                            {{#if (eq ../orderedProDet.length 1)}}
                                                                                <button id="cancel-btn" class="btn btn-primary btn-sm cancel-btn" style="background-color: #d6d6d6; border-color: #c0c0c0; color: #808080; cursor: not-allowed;" disabled>
                                                                                    Cancel
                                                                                </button>
                                                                            {{else}}
                                                                                <button id="cancel-btn" class="btn btn-primary btn-sm cancel-btn" data-order-id="{{../myOrderDetails._id}}" data-prod-id="{{this.product._id}}">
                                                                                    Cancel
                                                                                </button>
                                                                            {{/if}}
                                                                        {{/ifCond}}
                                                                        {{/ifCond}}
                                                                    {{/ifCond}}
                                                                    {{/singlestatuchecker}}
                                                                </td>
                                                            </tr>
                                                            {{/each}}
                                                            <tr>
                                                                <td colspan="5">
                                                                    <div class="order-summary-container">
                                                                        <div class="summary-row">
                                                                            <div class="summary-item">
                                                                                <span class="summary-label">Delivery:</span>
                                                                                <span class="summary-value text-danger">+₹ 50</span>
                                                                            </div>
                                                                            <div class="summary-item">
                                                                                <span class="summary-label">Discount:</span>
                                                                                <span class="summary-value text-success">
                                                                                    {{#if myOrderDetails.discountAmt}}
                                                                                        -₹ {{myOrderDetails.discountAmt}}
                                                                                    {{else}}
                                                                                        -₹ 0
                                                                                    {{/if}}
                                                                                </span>
                                                                            </div>
                                                                            <div class="summary-item">
                                                                                <span class="summary-label">Grand Total:</span>
                                                                                <span id="grandTotal" class="summary-value total-amount">
                                                                                    {{#if myOrderDetails.discountAmt}}
                                                                                        ₹{{myOrderDetails.amountAfterDscnt}}
                                                                                    {{else}}
                                                                                        ₹{{add myOrderDetails.total 0}}
                                                                                    {{/if}}
                                                                                </span>
                                                                            </div>
                                                                            <div class="summary-item">
                                                                                <span class="summary-label">Status:</span>
                                                                                <span class="badge rounded-pill alert-success text-success">{{myOrderDetails.status}}</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="box shadow-sm bg-light">
                                                    <!-- Optional: any additional information -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<style>
.order-summary-container {
    width: 100%;
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 8px;
    margin-top: 15px;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.summary-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 120px;
    text-align: center;
}

.summary-label {
    font-weight: 600;
    color: #6c757d;
    margin-bottom: 5px;
}

.summary-value {
    font-weight: bold;
}

.total-amount {
    color: #007bff;
    font-size: 1.1em;
}

@media (max-width: 768px) {
    .summary-row {
        flex-direction: column;
        align-items: stretch;
    }

    .summary-item {
        margin-bottom: 10px;
        width: 100%;
    }
}
</style>